@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --grayish-blue: hsl(220, 15%, 55%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  background-color: var(--light-gray);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  min-height: 100%;
}
html {
  margin: 0px;
  height: 100%;
}
/* ===Le Card=== */
.card {
  width: min(85%, 320px);
  background-color: var(--white);
  padding: 1em;
  text-align: center;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
section.text-box {
  margin: 1rem;
}
h2 {
  font-weight: 700;
  margin-block-end: 1rem;
  color: var(--dark-blue);
}
p {
  color: var(--grayish-blue);
}
